.headerBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.headerWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-image: url(/assets/BG.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 100px;
}

.headerMiddle {
    display: none;
}

.headerTop,
.headerBot {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.listings a {
    padding: 0 26px;
}

.listings a img {
    height: 100px;
    width: 100px;
}

.listings a img:hover {
    scale: 1.1;
}

.solana {
    margin: 50px 0;
    font-size: 24px;
}

.heroText {
    font-size: 280px;
    letter-spacing: -6px;
    font-weight: bold;
    color: #feac0e;
    -webkit-text-stroke: 9px #000000;
}

@media screen and (max-width: 1200px) {
    .headerWrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0;
        background-image: none;
    }

    .headerMiddle {
        display: block;
        width: 100%;
    }

    .headerMiddle img {
        width: 100%;
    }

    .headerTop {
        flex-direction: column;
        margin-top: 50px;
    }

    .heroText {
        font-size: 120px;
        letter-spacing: normal;
        -webkit-text-stroke: 5px #000000;
    }

    .listings a img {
        height: 100px;
        width: 100px;
    }

}

@media screen and (min-width:1200px) and (max-width: 1600px) {
    .heroText {
        font-size: 220px;
        letter-spacing: normal;
        -webkit-text-stroke: 3.5px #000000;
    }
}